<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Data\SFBB.Data.Common\packages.config" />
  <repository path="..\Data\SFBB.Data.Models\packages.config" />
  <repository path="..\Data\SFBB.Data\packages.config" />
  <repository path="..\Web\SFBB.Web.Infrastructure\packages.config" />
  <repository path="..\Web\SFBB.Web\packages.config" />
</repositories>